.loginNavbar {
    background: red;
  }
  
  html,
  body,
  #loginCard > div {
    background: purple !important;
    height: 100%;
  }
  
  html,
  body,
  #loginContainer > div {
    background: pink !important;
    height: 100%;
  }

  #movieCard > div {
    background: black !important;
    height: 100%;
  }
  
  body {
    font-family: "Teko", sans-serif !important;
  }